 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
 @media (min-width:390px) {
  body{
  font-family: 'Poppins', sans-serif;
  max-height: 844px;
  max-width: 390px;
  
  
  }

  h1 {
    color: white;
  }

  .NavBar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 100%;
    width: auto;
  }
  
  .pokedex-title {
    text-decoration: none;
    color: black;

  }

  .nav-first-row {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
  }

  .nav-columns{
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 30px;
  align-items: center;
  font-weight: bold;
  }

  .centrado{
  display: grid;
  justify-items: center;
  align-items: center;
  }

  .nav-logo{
  height: 5vh;
  width: 11vw;
  }

  .nav-filter{
  height: 20px;
  width: 6vw;
  }

  .nav-columns2{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  }

  .hashtag{
  font-size: 20px;
  }
  .nav-second-row {
    display: grid;
    justify-content: center;
  }

  .finder-left{
    position: relative;
    top: 140%;
    left: 10%;
    height: 20px;
    width: 20px;
  }

  .finder-center {
    position: relative;
    top: 140%;
    left: 35%;
    height: 20px;
    width: 20px;
  }

  input {
    resize: horizontal;
    width: 95vw;
    height: 4vh;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align:center;
    font-size: 20px;
  }

  .pokeList{  /*Grilla con pokemones*/
    position: relative;
    left: 20px;
    top: 2%;
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    width: 100vw;
    gap: 35px;
    align-content: flex-start;
    justify-items: center;
    justify-content: flex-start;
    overflow-y: scroll; 
  }
  
  .fav-icon{
    height: 40px;
    width: 40px;
  }

  .heart-favs{
    display: grid;
    justify-content: center;
  }

.select-type{
  
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 9px;
    text-align: center;
}

  .heart{
    position: relative;
    left: 50px;
    display: grid;
    justify-content: center;
  }

  
  .spacing{
    height: 120px;
  }

  .pokeList a {
    text-decoration: none;
  }

  .home-second-row{
    height: 85vh;
    display: grid;
    grid-template-rows: 90% 10%;
  }

  .Pokemon-Container{  /*contenedor del pokemon*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    width: 100%;
    border: 2px solid;
    border-radius: 15px;
    align-items: center;
    justify-items: center;
  }

  .formulario{
    display: grid;
    grid-template-rows: 10% 80% 10%;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    font-size: 20px;
    background-image: url("https://preview.redd.it/9n4ogs4n0q911.jpg?width=1245&format=pjpg&auto=webp&s=e8a73661d1c96147d48132948b134c174f430dd4") ;
    background-size: contain;
    font-weight: bold;
  }

  .form-inside{
    height: 80vh;
    width: 90vw;
    background-color: rgba(89, 89, 89, 0.5);
    color: white;
    border-radius:20px;
    padding: 15px;
  }

  .form-inputs{
    height: 73vh;
    display: grid;
    grid-template-rows: 10% 10% 25% 20% 20% 15%;
  }

  .form-4rows{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .align-input-stats{
    display: grid;
    justify-content: center;
    height: 25px;
  }

  .form-description{
    display: grid;
    grid-template-rows: 30% 70%;
  }

  .input-name{
    width: 200px;
    height: 25px;
  }

  .input-type{
    width: 160px;
    height: 25px;
  }

  .input-description{
    height: 80px;
    width: 320px;
  }

  .input-stats{
    width: 100px;
    height: 25px;
  }

  #pk-img,#pk-description,#pk-ptype, #pk-stype, #pk-name,
  #pk-number, #pk-weight, #pk-height, #pk-move1,
  #pk-move2,#pk-hp,#pk-atk,#pk-def,#pk-satk,
  #pk-sdef,#pk-spd{
    font-size: 12px;
  }

  .add-pokemon-button{
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 10px;
  }

  .form-stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .add-form-text{
    display: grid;
    justify-content: center;
    font-size: 30px;
  }
   
  .arrow-container-form{
    display: grid;
    align-content: center;
  }

  .form-text-home{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }

  .arrow-size{
    margin-left: 20px;
    height: 32px;
  }

  .form-go-home{
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .two-rows-stats{
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .form-cols{
    display: grid;
    grid-template-columns: 35% 65%;
  }

  .form-cols-type{
    display: grid;
    grid-template-columns: 50% 50%;
    
  }

  .add-container {
    background-color: white(81, 81, 81);
    color: white;
    font-weight: bolder;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 120px;
    width: 94px;
    border: 2px solid rgb(121, 121, 121);
    border-radius: 15px;
    place-items: center;
  }

  .add-image{
    height: 70px;
    width: 70px;
  }

  .text-add{
    width: 100%;
    background-color: rgb(121, 121, 121);
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12.7px;
    font-weight: bolder;
  }

  .div-logout{
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .logout{
    color: white;
    font-weight: bolder;
    font-size: 15px;
    background-color: red;
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: center;
    border-radius:50px ;
    width: 120px;
    height: 30px;
  }

  .Pokemon-Container {
    text-decoration: none;
    max-height: 120px;
      max-width: 94px;
  }

  .pokemon-conteiner-home{
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 85% ;
    overflow-y: scroll;
  }
    
  .Pokemon-Container>div>img{  /*Tamaño de la imagen*/
    height: 70px;
    width: 90px;
  }

  .pokemon-name{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: white; /*Todos los textos son blancos*/
    text-decoration: none;
    font-weight: bold;
  }

  .pokemon-card-name{
    font-size: 22px;
  }

  .pokemon-number{
    margin-left: 60%;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
  }

  .white-background{
    background-color: white !important;
  }


  .grass{
    background-color: #74cb48;
    border-color: #74cb48;
    color: #74cb48;
    --bs-progress-bar-bg: #74cb48 !important;
  }


  .grass>div>span {
    background-color: #74cb48;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
  }

  .poison {
    background-color: #a43e9e;
    border-color: #a43e9e;
    color: #a43e9e;
  }

  

  .poison>div>span {
    background-color: #a43e9e;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
  }

  .water{
    background-color: #6493eb;
    border-color: #6493eb;
    color: #6493eb;
    --bs-progress-bar-bg: #6493eb !important;
  }


  .water>div>span{
    background-color: #6493eb;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
  }

  .electric{
    background-color: #f9cf30;
  border-color: #f9cf30;
  color: #f9cf30;
  --bs-progress-bar-bg: #f9cf30 !important;
  }

  

  .electric>div>span{
  background-color: #f9cf30;
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  display: grid;
  align-items: center;
  }

    .psychic{
      background-color: #fb5584;
    border-color: #fb5584;
    color: #fb5584;
    --bs-progress-bar-bg: #fb5584 !important;
    }

    .psychic>div>span{
    background-color: #fb5584;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
    }

    .ghost{
      background-color: #705584;
    border-color: #705584;
    color: #705584;
    --bs-progress-bar-bg: #705584 !important;
    }


    .ghost>div>span{
    background-color: #705584;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    display: grid;
    align-items: center;
    }

    .normal{
      background-color: #aaa67f;
      border-color: #aaa67f;
      color: #aaa67f;
      --bs-progress-bar-bg: #aaa67f !important;
    }

     .normal>div>span{
      background-color: #aaa67f;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .fire{
      background-color: #f57d31;
      border-color: #f57d31;
      color: #f57d31;
      --bs-progress-bar-bg: #f57d31 !important;
     }

     .fire>div>span{
      background-color: #f57d31;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

     .bug{
      background-color: #a7b723;
      border-color: #a7b723;
      color: #a7b723;
      --bs-progress-bar-bg: #a7b723 !important;
     }


     .bug>div>span{
      background-color: #a7b723;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
     }

    .flying {
      background-color: #a891ec;
      border-color: #a891ec;
      color: #a891ec;
      --bs-progress-bar-bg: #a891ec !important;
    }


    .flying>div>span {
      background-color: #a891ec;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      display: grid;
      align-items: center;
    }

    .steel{
    background-color: #b7b9d0 ;
    border-color: #b7b9d0;
    color: #b7b9d0;
    --bs-progress-bar-bg: #b7b9d0 !important;
    }



    .steel>div>span{
    display: grid;
    background-color: #b7b9d0;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    align-items: center;
    }

    .rock{
    background-color: #b69e31 ;
    border-color: #b69e31;
    color: #b69e31;
    }


    .rock>div>span {
      display: grid;
      background-color: #b69e31;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      text-align: center;
      align-items: center;
    }




/*----------------------------------------------------------------------*/
     .Modal-grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 33% 67%;
      height: 100vh;
      width: auto;
      border-radius: 15px;
     }

     .Modal-grid a{
      text-decoration:none !important;

     }

     .modal-name{
      background-image: url(/public/Imagenes/Pokeball.png);
      background-repeat: no-repeat;
      background-position:95% 10%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      justify-items: center;
      color: white;
      font-size: 25px;
      font-weight: bold;
      height: 100%;
      width: 100%;
     }

     .modal-name>div>img{
      filter: invert(100%) sepia(0%) saturate(7499%) hue-rotate(125deg) brightness(100%) contrast(100%);;
     }


    .white{
      filter: invert(93%) sepia(36%) saturate(462%) hue-rotate(206deg) brightness(108%) contrast(106%);
    }

    .arrow-right{ /*  ROTACION DE FLECHA  */
      transform: rotate(180deg);
    }

    .modal-1row{ /*PRIMERA FILA DE LA PRIMERA MITAD*/
      display: grid;
      grid-template-columns: 15% 40% 15% 30%;
      grid-template-rows: 1fr;
      width: 95vw;
      align-items: center;

    }

    .marginNumber{
      margin-left: 60px;
      font-size: 16px;
    }

    .modal-2row{   /*SEGUNDA FILA DE LA PRIMERA MITAD*/
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-areas: 
      "izq img der";
      justify-items: center;
      align-items: center;
    }

    .izq{
      display: grid;
      grid-area: izq;
    }

    .der {
      display: grid;
      grid-area: der;
    }

    .img{
      display: grid;
      grid-area: img;
    }

    .modal-poke-img{
      height: 200px;
      width: 200px;
    }

    .div-poke-img{
      display: grid ;
      justify-items: center;
      position: relative;
      top: 15%;
    }

    .modal-bottom{  /*  CONETENEDOR DE TODA LA SEGUNDA MITAD DE LA CARTA*/
      background-color: white;
      color: black;
      border-radius: 20px;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-rows: 15% 5% 20% 15% 10% 35%;
      justify-items: center;
      align-items: center;
    }

    .arrow{
      position: relative;
      bottom:-35% ;
    }

    .modal-type {
      position: relative;
      height: 40%;
      width: 60%;
      color: white;
      border-radius: 15px;
      display: grid;
      bottom: -30%;
      align-items: center;
      justify-items: center;
      font-weight: bold;
    }

    .font-type{
      font-size: 20px;
    }

    .modal-types{
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 40%;
      gap: 20px;
      align-items: center;
      justify-content:center;
    }

    .bolder{
      font-weight: bolder;
    }
    .martop{
      margin-top: 30px;
    }

    .modal-info{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: 100%;
      width: 90%;
      align-items: center;
      justify-items: center;
    }

    .modal-description{
      display: grid;
      align-items: center;
      justify-items: center;
      height: 100%;
      width: 90%;
    }

    .twocols{
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: 1fr 2fr;
      height: 100%;
      width: 100%;
    }

    .whm{
      font-size: 12px;
    }
    
    .moves{
      position: relative;
      top:-11px;
    }
    
    .tworows{
      display: grid;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
      height: 120px;
      width: 100%;
      text-align: center;
    }

    .bolder{
      font-weight: bolder;
    }

    .line{
      border-right: 2px solid #e0e0e0;
      height: 60%;
    }
    
    .line2{
      border-right: 2px solid #e0e0e0;
      height: 90%;
    }

    .modal-stats{
      display: grid;
      grid-template-columns: 1fr 1fr 5fr;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-items: center;
    }
    
    li{
      margin-right: 20px;
    }

  .modal-stats > div > ul {
    list-style: none;
  }

  
  .modal-range{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    height: 90%;
    width: 90%;
    margin-top: 6%;
  }

  .progressBar{
    --bs-progress-height: 0.6rem !important;
  }

  progress{
    width: 100px; 
  }
  
  li{
    margin-top: 5px;
  }

  .slider
  { 
    width: 90%;
    height: 13px;
  }

  .onetype{
    position: relative;
    left: 45px;
  }
  .bar{
    --bs-progress-height: 0.5rem;
  }

  .register-text{
    color: rgb(7, 7, 7);

  }
  .login{
    padding: 10px;
    height: 100vh;
    background-color:rgb(108, 162, 187) ;
    background-image: url(https://media.tenor.com/hSL--HaaLEMAAAAC/hello-pikachu.gif);
    background-size: auto;
    background-position: bottom;
    background-repeat: no-repeat;
    font-weight: bolder;
    color: white;
  }
  .login-container {
    position: relative;
    background-color: rgba(248, 248, 248, 0.5);
    border-radius: 15px;
    top: 280px;
    
  }

  .datos{
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: grid;grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .submit{
    width: 100px;
    color: black;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
    display: grid;
    font-weight: bolder;
    justify-items: center;
    background-color:rgb(255, 255, 255);
  }

  .enviar{
    display: grid;
    align-content: center;
    justify-content: center;
  }
  .centrar{
    display: grid;
    justify-content: center;
  }

  .stats-card-background{
    background-color: white !important;
  }

  .img-404{
    height: 100vh;
    width: 100vw;
  }

  .loading{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 75vh;
  }
  .loading img{
    height: 100px;
  }
  
  .black-arrow{
    height: 40px;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
  }

  .error-404{
    display: grid;
    grid-template-rows: 0% 95%;
  }

  .div-logout{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items:center;
    align-content: center;
  }
  .div-logout a{
    text-decoration: none;
    color: black;
  }

  .div-favorites{
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  .div-favorites span{
    font-size: 20px;
    font-weight: bolder;
  }
  .div-favorites img{
    margin-left: 20px;
  }
  
} 


 